@font-face{font-family:'Cinzel';font-weight:600;font-display:block;src:url('Cinzel-600.woff2') format('woff2');}
@font-face{font-family:'Montserrat';font-weight:700;font-display:block;src:url('Montserrat-700.woff2') format('woff2');}
@font-face{font-family:'Montserrat';font-weight:900;font-display:block;src:url('Montserrat-900.woff2') format('woff2');}
@font-face{font-family:'Bebas Neue';font-weight:400;font-display:block;src:url('BebasNeue-400.woff2') format('woff2');}
