@font-face{font-family:'Anton';font-weight:400;font-display:block;src:url('Anton-400.woff2') format('woff2');}
@font-face{font-family:'Oswald';font-weight:500;font-display:block;src:url('Oswald-500.woff2') format('woff2');}
@font-face{font-family:'Oswald';font-weight:700;font-display:block;src:url('Oswald-700.woff2') format('woff2');}
@font-face{font-family:'Barlow SC';font-weight:600;font-display:block;src:url('BarlowSemiCondensed-600.woff2') format('woff2');}
@font-face{font-family:'Barlow SC';font-weight:800;font-display:block;src:url('BarlowSemiCondensed-800.woff2') format('woff2');}
